body, html {
    height: 100%;
}

.navigation{
    text-decoration: none;
}
.text-center {
    text-align: center;
} 
/* The hero image */
.hero-image {
    /* The image used */
    background-image: url("images/vegetables-1.jpg");

    /* Set a specific height */
    height: 100%;
    width:100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.hero-image-box {
    /* The image used */
    background-image: url("images/vegetables-2.jpg");

    /* Set a specific height */
    height: 100%;
    width:100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


/*user profile*/
.profile{
     text-decoration: none;
}
.text-white{
    color: white;
}

.box-image {
    /* The image used */
    background-image: url("box.svg");

    /* Set a specific height */
    width: 100%;
    height: 100%;

     
    background-repeat: no-repeat;
  
}
/*sticky ffix navigation */
.affix {
    top: 0;
    width: 100%;
    z-index: 1000;
    
}
.affix + .container-fluid {
    padding-top: 70px;
}

/*margin bottom*/



.navbar {
    margin-bottom: 0 !important;/*white line above the hero img*/
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}